Task 20 — Ops Jaanu → Webhook Incident Intake.json
{
  "name": "Task 20 — Ops Jaanu → Webhook Incident Intake",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1feeab64-5447-4ad6-afb6-8196d0078a31",
              "name": "incident_id",
              "value": "=INC - {{ $now }}",
              "type": "string"
            },
            {
              "id": "4815e4c9-7f2c-4a87-b2b6-ceb922378158",
              "name": "decision_title",
              "value": "Ops escalation approved",
              "type": "string"
            },
            {
              "id": "7cce6514-c774-4227-ad13-7ff64871e553",
              "name": "severity",
              "value": "high",
              "type": "string"
            },
            {
              "id": "52f0a031-d137-4fce-9454-ba0edbc962ad",
              "name": "summary",
              "value": "High severity ops anomaly detected",
              "type": "string"
            },
            {
              "id": "e17c8b66-5535-4ac8-b1b0-16b639d898e7",
              "name": "decision_reason",
              "value": "Repeated failures over threshold",
              "type": "string"
            },
            {
              "id": "62e518d7-e605-4900-bf37-5416396f4c41",
              "name": "approved_by",
              "value": "Slack Ops",
              "type": "string"
            },
            {
              "id": "49913150-3291-4df9-bb5b-3642bf3d90d5",
              "name": "approval_time",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "b06ce599-803e-4f63-b00b-ce8c32b8b04a",
              "name": "origin_agent",
              "value": "Ops Jaanu",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        -96
      ],
      "id": "0cb74843-6845-40c9-ba12-3e0c37b1385c",
      "name": "Canonical Decision Payload"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10001",
          "mode": "list",
          "cachedResultName": "⭐ Jaanu Ops by Suraj"
        },
        "issueType": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "=={{$json.decision_title}} — {{$json.incident_id}}",
        "additionalFields": {
          "description": "=={{ \n\"Summary: \" + $json.summary + \"\\n\\n\" +\n\"Decision Reason: \" + $json.decision_reason + \"\\n\\n\" +\n\"Severity: \" + $json.severity + \"\\n\\n\" +\n\"Approved By: \" + $json.approved_by + \"\\n\" +\n\"Approved Time: \" + $json.approval_time + \"\\n\\n\" +\n\"Origin Agent: \" + $json.origin_agent\n}}",
          "priority": {
            "__rl": true,
            "value": "2",
            "mode": "list",
            "cachedResultName": "High"
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -272,
        -112
      ],
      "id": "30e45c32-99b2-4c4b-9d12-f754b7948716",
      "name": "Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "PC6uTWFfBLYGZTwQ",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d604ba7a-0bbc-48ad-a2ca-317192ccdeb0",
              "name": "linked_ticket_key",
              "value": "={{$json.key}}",
              "type": "string"
            },
            {
              "id": "487fa0d2-eef8-42d7-8864-2a2fdfb9566f",
              "name": "linked_ticket_url",
              "value": "={{$json.self.replace('/rest/api/2/issue/', '/browse/')}}",
              "type": "string"
            },
            {
              "id": "3853eab3-8c24-4848-84a5-9dcccbb63b3a",
              "name": "linked_ticket_type",
              "value": "jira",
              "type": "string"
            },
            {
              "id": "40ef8894-75a9-40c7-aff3-21915d84c296",
              "name": "severity",
              "value": "={{ $node[\"Canonical Decision Payload\"].json.severity }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -112
      ],
      "id": "57afa53a-e634-4a98-ab68-1ec737174edd",
      "name": "Extract Jira Artifact"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-jaanu-ops",
          "mode": "name"
        },
        "text": "=✅ Ticket Created & Linked! \n\nSeverity: {{ $json.severity }}\n\nJira: {{ $('Extract Jira Artifact').item.json.linked_ticket_key }}  \nURL: {{ $('Extract Jira Artifact').item.json.linked_ticket_url }}\n\n\n\nOps notified successfully. Affirmed by Agent Jaanu.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        240,
        -224
      ],
      "id": "7f9e93cb-eaff-4e05-99a3-eab9d8e982dd",
      "name": "Send a message",
      "webhookId": "8a8487b8-a992-4745-b9cb-15fddf2cb542",
      "credentials": {
        "slackApi": {
          "id": "HEB0KVXQRW6xG2Vz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ops-jaanu/incident",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -112
      ],
      "id": "6beb29be-15f5-4a75-aeb2-096349b011d8",
      "name": "Webhook",
      "webhookId": "0a801b28-22f5-4590-8d64-f5ed2504de9a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6baf6998-5c97-4115-9080-c6f194b9ae38",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        -128
      ],
      "id": "45aba811-c7d5-4135-a328-3dcfc9dc8296",
      "name": "If"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-jaanu-ops",
          "mode": "name"
        },
        "text": "=ℹ️ Incident Logged (Non-Critical)\n\nSeverity: {{ $node[\"Canonical Decision Payload\"].json.severity }}\n\nJira Ticket:\n{{ $json.linked_ticket_key }}\n{{ $json.linked_ticket_url }}\n\nNo immediate action required.\n— Agent Jaanu 🤖\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        240,
        0
      ],
      "id": "b15b7b40-5b58-46d5-bc20-435f6a72aa9e",
      "name": "Slack Node 2",
      "webhookId": "8a8487b8-a992-4745-b9cb-15fddf2cb542",
      "credentials": {
        "slackApi": {
          "id": "HEB0KVXQRW6xG2Vz",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Canonical Decision Payload": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Extract Jira Artifact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Jira Artifact": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Canonical Decision Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Node 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "81fea011-a7ea-4f8f-a9c2-3387bbf92a39",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3294931b033528f6418ce49618c0c9631f972baaa3ff1615e91b9e03c6efd9ff"
  },
  "id": "9CnDkRSusDAMgKCb",
  "tags": []
}